@media screen and (max-width:600px) {
    body {float: none;}
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url('../images/test-images/test-background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.info {
    padding: 20px 50px 30px 50px;
    margin: auto;
    width: 70%;
    background-color: grey;
}

.nav-tbar {
    overflow: hidden;
    background-color: rgb(88, 78, 78);
    position: sticky;
    top: auto;
}

.nav-tbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-tbar a:hover {
    background-color: #ddd;
    color: black;
}

.nav-tbar a.active {
    background-color: orange;
    color: black;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    color: black;
    background-color: grey;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#topButton:hover {
    background-color: orange;
}

#logo {
    border-radius: 50%;
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.services-nav-tbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: grey;
    position: absolute;
    overflow: auto;
    margin-left: 10%;
    top: 170px;
    left: -133px;
}

.service-nav-tbar.active {
    background-color: orange;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: orange;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

.fb-button {
    color: grey;
    float: inline-end;
    
}
