@media screen and (max-width:600px) {
    body {float: none;}
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    padding: 10px 50px 10px 50px;
    margin: auto;
    width: 70%;
    background-color: grey;
}

.nav-tbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}

.nav-tbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-tbar a:hover {
    background-color: #ddd;
    color: black;
}

.nav-tbar a.active {
    background-color: rgb(255, 0, 0);
    color: black;
}

#topButton {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    color: black;
    background-color: grey;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#topButton:hover {
    background-color: orange;
}